.fill {
  min-height: 100%;
  height: 100%;
  background-color: red;
}

.imgcont {
  max-height: 300px;
}

.green {
  background-color: #97c036 !important;
}

.textg {
  color: #97c036 !important;
}

.btng {
  background-color: #98bf0d !important;
}

header {
  position: relative;
  background-color: #97c036;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

.sidebarcont {
  z-index: 99;
  position: absolute;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #97c036;
}

i:active,
i:focus,
i:hover {
  color: #97c036;
}

.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: -130%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  width: 200px;
  transition: 350ms;
}

.menubtn {
  z-index: 0;
  position: fixed;
}

.sidebarbg {
  background-color: white;
}

.listbg {
  background-color: whitesmoke !important;
}

a:link {
  text-decoration: none;
}

.w-60 {
  width: 60%;
}

.go-back {
  width: 100px;
  margin-top: 40px;
  border-radius: 0 50% 50% 0 !important;
  padding: 20px !important;
  margin-left: -36px;
}

.left-side {
  border-right: rgba(0, 0, 0, 0.103) 1px solid;
}

.imported-icon {
  size: 2em;
  font-weight: 900;
}
